* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.contanier {
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contanier::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #9de7ff;
}

.contanier .hero {
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #9de7ff;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.hero nav .logo {
    color: #343dbb;
    font-size: 45px;
    font-weight: bold;
}

.hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}

.hero nav .nav-links a:hover,
.hero nav .nav-links a.active {
    color: #343dbb;
}

.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.hero .content .div-text {
    width: 40%;
}

.hero .content .div-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #0d2733;
}

.hero .content .div-text h4 {
    color: #343dbb;
    font-size: 24px;
    margin-bottom: 10px;
}

.hero .content .div-text p {
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}

.hero .content .div-text .btn {
    padding: 15px 20px;
    background-color: #343dbb;
    border: 2px solid #343dbb;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

.hero .content .div-text .btn:hover {
    color: #343dbb;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.soc-link a i {
    font-size: 25px;
    cursor: pointer;
    color: #343dbb;
    margin-bottom: 20px;
    transition: 0.4s;
}

.soc-link a i:hover {
    color: #ff9dcf;
}

.hero .content .div-img {
    width: 40%;
}

.hero .content .div-img img {
    width: 100%;
}


/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn {
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}

.hero .logo {
    animation-delay: 0.2s;
}

.hero .content .div-text h1 {
    animation-delay: 0.5s;
}

.hero .content .div-text h4 {
    animation-delay: 0.9s;
}

.hero .content .div-text .btn {
    animation-delay: 1.8s;
}

@keyframes slide-top {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p {
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}

@keyframes slide-right {
    0% {
        left: 100px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img {
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}

@keyframes fade-img {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}